@import "responsive-mixins";

// PAGE SCALING

// Start scaling down header image below 1154px.
@media (max-width: 1154px) {
  .header > img {
    width: 100%;
  }
  .container {
    width: auto;
  }
}
// Scale down desktop layout < 1000px.
@media (max-width: $orig-width - 1px) {
  html {
    transform: scale(.85);
    transform-origin: top left;
  }
  body {
    width: 1 / .85 * 100%;
  }
}
// Further scale down desktop layout < 850px.
@media (max-width: $orig-width * .85 - 1px) {
  html {
    transform: scale(.75);
  }
  body {
    width: 1 / .75 * 100%;
  }
}
// Disable desktop scaling < 750px.
@include mobile {
  html {
    transform: none;
  }
  body {
    width: auto;
  }
}

// MOBILE COMMON

@include mobile {
  body {
    background-size: 150%;
  }
}
