@import "responsive-mixins";

// PAGE SCALING

// Scale down desktop layout < 900px.
@media (max-width: 899px) {
  html {
    transform: scale(.85);
    transform-origin: top left;
  }
  body {
    width: 1 / .85 * 100%;
  }
}
// Disable desktop scaling < 750px.
@include mobile {
  html {
    transform: none;
  }
  body {
    width: auto;
  }
}

@include mobileScaling;

// GENERAL IMPROVEMENTS

@font-face {
  font-family: 'Meta Offc';
  src: url('../escreen/fonts/MetaOffc-Black.eot');
  src: url('../escreen/fonts/MetaOffc-Black.eot?#iefix') format('embedded-opentype'),
       url('../escreen/fonts/MetaOffc-Black.woff') format('woff'),
       url('../escreen/fonts/MetaOffc-Black.ttf') format('truetype'),
       url('../escreen/fonts/MetaOffc-Black.svg#MetaOffc-Black') format('svg');
  font-weight: bold;
  font-style: normal;
}

// FONT BOLD FIXES

.main {
  .intro {
    font-weight: normal;
  }
  .welcome .welcome_text {
    font-weight: normal;
  }
  .start_button a {
    font-weight: normal;
  }
  .columns h3 {
    font-weight: normal;
  }
  &.results_page {
    .results_good,
    .results_bad {
      a {
        font-weight: normal;
      }
    }
  }
}
.audio_help a {
  font-weight: normal;
}

// MOBILE LAYOUT ADJUSTMENTS - ESCREEN

@include mobile {
  body {
    background-size: 150%;
    background-position: 40% 0;
    background-attachment: fixed;
    //font-family: "Meta Offc", sans-serif;
  }
  .container {
    margin: 17px auto 26px;
    width: 320px;
  }
  .header_title {
    img {
      margin-top: 11px;
      max-width: 100%;
      width: 160px;
    }
  }
  .header_contact {
    font-family: "Meta Offc", sans-serif;
    letter-spacing: -0.5px;
    margin-top: 0;
    text-align: left;
    width: 132px;
    .contact_text {
      font-size: 12px;
      line-height: 14px;
    }
    .phone_num {
      font-size: 16px;
      letter-spacing: 0;
    }
  }
  .main {
    h2 {
      line-height: 1.2;
    }
    &.index {
      h2 {
        font-size: 42px;
        letter-spacing: -1px;
        line-height: 1;
      }
      p, ul {
        font-family: "Meta Offc", sans-serif;
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: -.5px;
      }
      .intro {
        font-size: 22px;
        margin: 24px 0 !important;
      }
    }
    .welcome .welcome_text {
      font-size: 20px;
    }
    .start_button {
      width: auto;
      a {
        padding: 12px 0;
      }
    }
    ul,
    .benefits ul {
      padding-left: 22px;
    }
    .survey_steps ul {
      padding-left: 0;
    }
    .columns {
      float: none;
      margin: 0;
      width: auto;
      h3 {
        box-sizing: border-box;
        height: 51px;
        padding: 12px 0 0 55px;
        position: relative;
        width: auto;
        &:after {
          background: right center no-repeat;
          bottom: 0;
          content: "";
          left: 200px;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
    .welcome h3:after {
      background-image: url('../escreen/img/welcome.png');
    }
    .benefits h3:after {
      background-image: url('../escreen/img/your_benefits.png');
    }
    .survey_steps h3:after {
      background-image: url('../escreen/img/survey_steps.png');
    }
    ul.progress_steps {
      float: none;
      height: auto;
      overflow: hidden;
      padding: 8px 0 0;
      li {
        box-sizing: border-box;
        float: left;
        font-size: 12px;
        height: auto;
        line-height: 1;
        padding: 0 5px 0 0;
        position: static;
        width: 25%;
        + li {
          padding-left: 2px;
        }
        strong {
          display: block;
          line-height: 17px;
        }
      }
    }
    &.results_page {
      .results_good,
      .results_bad {
        background-size: 100%;
        float: none;
        margin: 12px 0;
        a {
          padding-bottom: 3px;
          padding-top: 7px;
          width: auto !important;
        }
      }
    }
  }
  .progress_bar {
    transform: scaleX((320 / 800));
    transform-origin: left;
  }
  .progress_container {
    height: auto;
    padding-bottom: 11px;
  }
  .main.index,
  .main > .content {
    position: relative;
  }
  .audio_help,
  #mediaspace {
    float: none;
    position: absolute !important;
    top: 110px;
    .content & {
      top: 76px;
    }
    &:not([style*="display: none"]) + h2,
    &:not([style*="display: none"]) + .audio_help + h2 {
      margin-bottom: 70px;
      .content & {
        margin-bottom: 50px;
      }
      .main.results_page &,
      .main.resources_page & {
        margin-bottom: 70px;
      }
    }
  }
  #mediaspace {
    margin-top: 10px;
  }
  .footer_links {
    br {
      display: none;
      + a {
        margin-left: 1.5em;
        position: relative;
        &:before {
          color: #252525;
          content: " |   ";
          position: absolute;
          right: 100%;
        }
      }
    }
  }
  .footer {
    font-family: Arial, sans-serif;
    line-height: 13.5px;
    .copyright {
      margin-top: 11px;
    }
  }
  .footer_left {
    float: none;
  }
  .footer_logos {
    display: flex;
    justify-content: space-between;
    float: none;
    margin-top: 27px;
    a {
    }
    img {
      margin: 0;
    }
  }
  .info_page .survey_questions .question {
    padding-left: 0;
  }
  .survey_questions {
    padding-top: 20px;
    .get_help {
      display: block;
      margin: 10px 0 -10px;
      width: 70px;
    }
    ul.answer_list {
      padding: 4px 0 0 8px;
      li {
        margin: 4px 0;
        label {
          margin-left: 10px;
        }
      }
    }
    ol {
      padding-left: 30px;
    }
  }
  .helpText {
    width: 320px;
  }
  .info_page,
  .survey_page,
  .resources_page {
    .next_back {
      padding: 19px 0 29px;
    }
  }
  .survey_page .next_back .question_number {
    padding: 0;
  }
  .results_container {
    table, tbody, tr, td {
      display: block;
    }
  }
  .results_item {
    width: auto;
  }
  .open_close_results {
    float: none;
    margin-top: 4px;
    text-align: left;
  }
  .results_answer_container {
    &,
    & p,
    & ul {
      line-height: 25px;
    }
    h3 {
      font-size: 20px;
    }
    li {
      margin-bottom: 12px;
    }
  }
  .resources_page {
    .ero_ad {
      border: none;
      bottom: 150px;
      float: none;
      left: 0;
      margin: 0;
      position: absolute;
      text-align: center;
      right: 0;
      + .resources_tips {
        padding-bottom: 650px;
      }
    }
  }
  .resources_tips {
    &,
    & p,
    & ul {
      line-height: 1.4 !important;
      font-size: 20px !important;
    }
    > table {
      width: auto;
    }
    h1 {
      line-height: 1.2;
    }
  }
  .content > center > h2 {
    margin-top: 15px;
  }
  .helpText {
    &,
    & ul {
      font-size: 14px !important;
      line-height: 18px !important;
    }
  }
  .container > table {
    &,
    tbody,
    tr,
    td {
      display: block;
      width: auto;
    }
    td:first-child {
      margin: 8px 0 4px;
      text-align: left;
    }
    input, textarea {
      box-sizing: border-box;
      width: 100%;
    }
    input[type="submit"] {
      display: block;
      margin: 5px auto 15px;
      width: auto;
    }
  }
}

// Fix help text popup on mobile layout < 360px.
@media (max-width: 359px) {
  .TelerikModalOverlay {
    height: 110% !important;
    width: 112% !important;
    left: -6% !important;
    top: -5% !important;
  }
  .helpText {
    width: 306px;
  }
}
