/* CUSTOM FONT DECLARATIONS */
@font-face {
    font-family: 'Meta Offc';
    src: url('../fonts/MetaOffc-Norm.eot');
    src: url('../fonts/MetaOffc-Norm.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/MetaOffc-Norm.woff') format('woff'),
         url('../fonts/MetaOffc-Norm.ttf') format('truetype'),
         url('../fonts/MetaOffc-Norm.svg#MetaOffc-Norm') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Meta Offc Book';
    src: url('../fonts/MetaOffc-Book.eot');
    src: url('../fonts/MetaOffc-Book.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/MetaOffc-Book.woff') format('woff'),
         url('../fonts/MetaOffc-Book.ttf') format('truetype'),
         url('../fonts/MetaOffc-Book.svg#MetaOffc-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Meta Offc Black';
    src: url('../fonts/MetaOffc-Black.eot');
    src: url('../fonts/MetaOffc-Black.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/MetaOffc-Black.woff') format('woff'),
         url('../fonts/MetaOffc-Black.ttf') format('truetype'),
         url('../fonts/MetaOffc-Black.svg#MetaOffc-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Meta Offc Light';
    src: url('../fonts/metaoffc-light-webfont.eot');
    src: url('../fonts/metaoffc-light-webfont.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/MetaOffc-Norm.woff') format('woff'),
         url('../fonts/MetaOffc-Light.ttf') format('truetype'),
         url('../fonts/MetaOffc-Norm.svg#MetaOffc-Norm') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * Adapted from the HTML5 Boilerplate (html5boilerplate.com)
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 14px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #000000; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 */
::-moz-selection { background: #3297fd; color: #fff; text-shadow: none; }
::selection { background: #3297fd; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #000000; }
a:visited { color: #000000; }
a:hover { color: #000000; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 * 3. Correct overflow not hidden in IE9
 */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Jeff Hughes
   ========================================================================== */

body {
    background:url('../img/background.jpg') no-repeat center top fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    font-family: Helvetica, Arial, sans-serif;
}

a, a:visited, a:focus, a:hover {
	text-decoration:none;
}

p {
	line-height:24px;
}

.container {
    margin: 20px auto 30px;
    width: 960px;
}

.header {
    width:912px;
    margin:0 auto;
}
.ie .header {
    padding-bottom: 0;
}

.header_title {
    float: left;
}

.main {
    padding: 30px 0;
    width:912px;
    margin:0 auto;
}
.ie .main {

}

h1 {
	font: bold 30px "Meta Offc", sans-serif;
	color:#e49e52;
	line-height:35px;
}

.button {
	background: no-repeat url('../img/button_small.png');
	width:120px;
	height:31px;
	padding:10px 0 0 31px;
	text-align:left;
	font: 15px "Meta Offc", sans-serif;
}

.button_medium {
	background: no-repeat url('../img/button_medium.png');
	width:147px;
	height:31px;
	padding:10px 0 0 25px;
	text-align:left;
	font: 15px "Meta Offc", sans-serif;
}

.ie.oldie .button {
	padding-top:9px;
	height:33px;
}

.ie.oldie .your_results  .button {
	padding-top:9px;
	height:38px;
}

.results

.button a, .button_medium a {
    color: #313535;
    display: block;
    font: 14px "Meta Offc", sans-serif;
    text-decoration: none;
}

.home_banner {
	background: no-repeat url('../img/home_banner1.png') center top;
	width:930px;
	height:379px;
	margin:0 -10px;
}
.ie .home_banner {
	margin:0;
	width:912px;
}
.home_banner_inner {
	padding:80px 505px 0 70px;
	text-align:right;
}

.main .home_banner h2 {
	font: bold 36px "Meta Offc", sans-serif;
	color:#e49e52;
	line-height:35px;
	margin-top:0;
}
.ie .main  .home_banner h2 {
	line-height:35px;
}

.home_banner p {
	line-height:20px;
	margin-top:10px;
}

.start_button_wrapper {
	float:none;
	clear:both;
}
 
.main .home_banner .start_button  {
	background: no-repeat url('../img/start_button_small.png');
	width:163px;
	height:35px;
	padding:15px 0 0 55px;
	text-align:left;
	line-height:19px;
}

.ie .main .home_banner .start_button {
	padding-top:20px;
	height:30px;
}

.oldie .main .home_banner .start_button {
	padding-top:14px;
	height:36px;
	padding-left:52px;
	width:166px;
}

.main .home_banner .start_button a {
	font-size:12px;
	color: #313535;
}

.main .columns {
    float: left;
    margin: 0 18px 30px 0;
    width: 201px;
    height:412px;
    padding:30px 45px;
    background:no-repeat url('../img/column_bg.png');
}

.ie9 .main .columns {
	padding-top:45px;
	height:397px;
}

.main .columns.last {
	margin-right:0;
}

.main h3 {
    font: bold 20px "Meta Offc", sans-serif;
    margin: 0 0 .2em;
    color:#e49e52;
}
.main .columns p {
	
}

.main .columns strong {
	color:#e49e52;
	font: bold 14px "Meta Offc", sans-serif;
}

.main .start_button {
    background:no-repeat url('../img/start_button.png') 0 0;
    clear: both;
    padding:16px 0 0 60px;
    width: 186px;
    height: 40px;
    float:right;
}

.ie9 .main .start_button {
	padding-top:21px;
	height:35px;
}

.main .start_button a {
    color: #313535;
    display: block;
    font: 14px "Meta Offc", sans-serif;
    text-decoration: none;
}

.footer {
    border-top: 1px #b2b2b2 solid;
    padding: 20px 0;
    color:#6e6e6e;
    text-align:center;
    font-size:12px;
}
.footer-logos, .footer-links {
	float:left;
}
.footer a {
    color: #6e6e6e;
    text-decoration: none;
    line-height:18px;
    font-size:12px;
}
.footer a:hover {
    text-decoration: underline;
}
.footer img {
	margin-left:10px;
	position:relative;
	top:-2px;
	height:auto;
	width:80px;
}

/* Page styles */

.progress_container {
    margin-bottom: 45px;
}

.progress_bar {
    background: url('../img/progress_bg3.png') left top no-repeat;
    width: 912px;
    height: 48px;
}

.progress_bar.step1 {
    background: url('../img/progress_bg1.png') left top no-repeat;
}

.progress_bar.step2 {
    background: url('../img/progress_bg2.png') left top no-repeat;
}

.progress_bar.step3 {
    background: url('../img/progress_bg3.png') left top no-repeat;
}

.progress_bar.step4 {
    background: url('../img/progress_bg4.png') left top no-repeat;
}

.progress_bar .progress_indicator {
    background: #b00935;
    background: -webkit-gradient(linear, left top, left bottom, from(#b00935), to(#7f0727));
    background: -moz-linear-gradient(top, #b00935, #7f0727);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b00935', endColorstr='#7f0727');
    float: left;
    position: absolute;
    height: 22px;
}

.progress_bar img {
    position: relative;
    vertical-align: top;
}

.progress_steps {
    float: left;
    font: normal 16px "Meta Offc", sans-serif;
    list-style: none;
    margin: 12px 0 0 96px;
    padding:0;
}
.ie .progress_steps {
    margin-top:10px;
}

.ie9 .progress_steps {
	margin-top:17px;
}

.progress_steps li {
    position: relative;
    float:left;
    width:225px;
    text-shadow: 1px 1px #ffffff;
}

.progress_steps li.active {
    color:#e49e52;
}

.progress_steps .progress_step2 {
	width:205px;
}
.progress_steps .progress_step3 {
	width:200px;
}
.progress_steps .progress_step4 {
	width:180px;
}

.progress_steps strong {
    font-family: "Meta Offc", sans-serif;
}

.info_page .content, .survey_page .content, .results_page .content, .resources_page .content, .admin_page .content {
    clear: both;
}

.ie6 .info_page .audio_help, .ie6 .survey_page .audio_help, .ie6 .results_page .audio_help, .ie6 .resources_page .audio_help, .ie7 .info_page .audio_help, .ie7 .survey_page .audio_help, .ie7 .results_page .audio_help, .ie7 .resources_page .audio_help {
    top: 0;
}

.left_column {
	margin:10px 60px 10px 20px;
	width:220px;
	float:left;
}

.left_column h3 {
	font-size:25px;
	line-height:30px;
}

.left_column p {
	font-size:15px;
	line-height:22px;
	margin:10px 0 25px;
}

.left_column .button {
	margin-top:50px;
}

.page2 .left_column p.left_image {
	margin:0 0 35px -10px;
}

.right_column {
	float:left;
	border-left:1px solid #b2b2b2;
	padding-left:65px;
	width:540px;
	padding-bottom:30px;
}

.form {
	background: url('../img/form_narrow_middle.png') left top repeat-y;
	padding:30px 50px 40px;
	width:434px;
}

.form_top {
	background: url('../img/form_narrow_top.png') left top no-repeat;
	width:522px;
	height:17px;
}

.form_bottom {
	background: url('../img/form_narrow_bottom.png') left top no-repeat;
	width:522px;
	height:10px;
}

.info_page h2, .survey_page h2, .results_page h2, .resources_page h2 {
    font: normal 29px "Meta Offc Book", sans-serif;
    margin: 0;
}
.ie .info_page h2, .ie .survey_page h2, .ie .results_page h2, .ie .resources_page h2 {
    margin-top: 1.3em;
}

.info_page h2 .subtitle, .survey_page h2 .subtitle, .results_page h2 .subtitle, .resources_page h2 .subtitle {
    font-family: "Meta Offc Black", sans-serif;
}

.survey_questions h3 {
    font-size: 18px;
    margin: 0;
}

.survey_questions p {
    font-size: 18px;
    margin-top: 0;
}

.survey_questions .question {
	margin-bottom:30px;
}

.info_page .survey_questions .question_text {
     font: bold 14px "Meta Offc", sans-serif;
}

.info_page .survey_questions .clearfix .question_text {
	float:none;
}

.survey_questions ol {
    margin: 0;
}

.survey_questions .question_number {
    float: right;
}

.survey_questions .question_number span {
    font-weight: bold;
}

.survey_questions .get_help {
    background: #fce09d;
    background: -webkit-gradient(linear, left top, left bottom, from(#fce09d), to(#fbd782));
    background: -moz-linear-gradient(top, #fce09d, #fbd782);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fce09d', endColorstr='#fbd782');
    border: 1px #fbd782 solid;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    display: inline-block;
    margin-left: 5px;
}
.ie6 .survey_questions .get_help, .ie7 .survey_questions .get_help {
    display: inline;
}

.survey_questions .get_help a {
    color: #242424;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 7px;
    text-decoration: none;
}
.survey_questions .get_help a:hover {
    text-decoration: underline;
}

.survey_questions .answer_list {
    list-style: none;
    margin: 0;
    padding:0;
}

.survey_questions .answer_list li {
    margin: 10px 0;
}
.ie .survey_questions .answer_list li {
 
}

.survey_questions .answer_list label {
    margin-left: 12px;
}

.survey_questions ul, .survey_questions select, .survey_questions input {
	margin-top:10px;
}

.ie .survey_questions input[type="radio"] {
	margin-top:0px;
}

.survey_questions .left {
	float:left;
	width:200px;
	margin-right:30px;
}

.survey_questions .left.last {
	margin-right:0;
}

.ie7 .survey_questions .left {
	width:210px;
	margin-right:10px;
}

.ie8 .survey_questions .left {
	width:210px;
	margin-right:6px;
}

.survey_questions input.text {
	background: url('../img/input_bg_226.png') left top no-repeat;
	width:196px;
	height:33px;
	border:none;
	padding:1px 15px;
}

.ie.oldie .survey_questions input.text {
	padding-top:9px;
	height:25px;
}

.survey_questions .alert {
    border-top: 1px #c2c2c2 solid;
    color: #000;
    float: left;
    font-weight: bold;
    margin: 3px 0 0 25px;
    padding: 8px 0;
}

.survey_questions .alert img {
    margin-right: 5px;
}

.info_page .next_back, .survey_page .next_back, .resources_page .next_back {
    clear: both;
    padding: 10px 0;
}

.info_page .back_button {
	background: no-repeat url('../img/goback_button.png');
	width:109px;
	height:36px;
	padding:9px 0 0 60px;
	float:left;
}

.info_page .back_button a, .info_page .next_button a, .results_end_buttons .button {
    font: 15px "Meta Offc", sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px #ffffff;
    color: #313535;
}

.info_page .next_button {
	background: no-repeat url('../img/next_button.png');
	width:109px;
	height:35px;
	padding:10px 0 0 60px;
	float:right;
}

.ie9 .info_page .back_button, .ie9 .info_page .next_button { 
	padding-top:15px;
	height:30px;
}

.ie.ie7 .info_page .next_button {
	padding-top:6px;
	height:39px;
}

.ie.ie8 .info_page .next_button {
	padding-top:8px;
	height:37px;
}

.info_page .next_button input{
	border:none;
	text-shadow: 1px 1px #ffffff;
	font: 15px "Meta Offc", sans-serif;
	background:none;
}

.question_number {
    font: normal 17px "Meta Offc Light", sans-serif;
    margin-bottom:20px;
}

.page2 .left_column {
	margin-top:0;
}

.page2 h1 {
	margin:0 0 5px;
	line-height:30px;
}

.left_column .button.help {
	padding-top:8px;
	height:33px;
}

.ie .left_column .button.help {
	padding-top:13px;
	height:28px;
}

.form-short {
	background: url('../img/form_bg_short.png') left top no-repeat;
	padding:60px 50px;
	width:434px;
	height:456px;
}

.page2 .next_button, .opinion .next_button {
	background: no-repeat url('../img/next_questions_button.png');
	width:145px;
	height:37px;
	padding:9px 0 0 53px;
	float:right;
}

.ie.ie8 .page2 .next_button, .ie.ie8 .opinion .next_button {
	padding-top:8px;
	height:38px;
}

.survey_wide {
	background: url('../img/form_wide_middle.png') left top repeat-y;
	padding:30px 50px;
	width:767px;
	margin:0 auto;
}

.survey_wide_top {
	background: url('../img/form_wide_top.png') left top no-repeat;
	width:867px;
	height:14px;
	margin:0 auto;
}

.survey_wide_bottom {
	background: url('../img/form_wide_bottom.png') left top no-repeat;
	width:867px;
	height:10px;
	margin:0 auto 30px;
}

.ie.ie9 .survey_wide h2, .ie.ie7 .survey_wide h2{
	margin-top:10px;
}

.ie.ie7 .survey_wide {
	padding-top:20px;
}

h2.results_header  {
	text-align:center;
	font:33px "Meta Offc Light",sans-serif;
}

h2.results_header  .subtitle {
	color:#e49e52;
	font:bold 33px "Meta Offc",sans-serif;
}

.survey_wide p {
	margin-top:20px;	
}

.results_buttons {
	width:620px;
	margin:40px auto 0;
}

.results_buttons div {
	width:276px;
	height:38px;
	margin:0 17px;
	padding-top:13px;
	text-align:center;
	float:left;
}

.ie9 .results_buttons div {
	padding-top:18px;
	height:33px;
}

.results_buttons a {
	color:#ffffff;
	font:bold 16px "Meta Offc",sans-serif;
	text-decoration:none;
}

.green_button {
	background: no-repeat url('../img/button_green.png');
}

.brown_button {
	background: no-repeat url('../img/button_brown.png');
}

.results_page .results_good {
    background: no-repeat url('../img/doing_well.png');
    float: left;
    margin: 0 25px 20px 0;
}

.results_title {
    font-weight: bold;
}

.results_container p.info {
	text-align:center;
}

.results_list {
    margin: 0 auto;
    width: 862px
}

.results_list.hidden {
    display: none;
}

.results_list dt {
    background: url('../img/result_question_bg.png') left top no-repeat;
    padding:16px 20px 14px;
    width:822px;
    height:21px;
    line-height:21px;
    z-index:1000;
    position:relative;
    margin-top:15px;
    color:#ffffff;
}

.going_well .results_list dt {
	background: url('../img/result_question_bg_green.png') left top no-repeat;
}

.your_survey .results_list dt {
	color:#000000;
	text-shadow: 1px 1px #ffffff;
	background: url('../img/result_question_bg_grey.png') left top no-repeat;
}

.results_list dt.open {
    
}

.results_list .question_left {
	float:left;
    max-width: 675px;
}

.results_list dt span {
    font-weight: bold;
}

.open_close_results {
    float: right;
}
.ie6 .open_close_results, .ie7 .open_close_results {

}

.open_close_results a {
    text-decoration: none;
    font: bold 16px/15px "Meta Offc", sans-serif;
    background: url('../img/arrow_white.png') right 11px no-repeat;
    padding-right:30px;
    color:#ffffff;
}

dt.open .open_close_results a {
	background: url('../img/arrow_white_down.png') right 11px no-repeat;
}

.your_survey .open_close_results a {
	 background: url('../img/arrow.png') right 11px no-repeat;
	 color:#000000;
}

.ie9 .your_survey .open_close_results a, .ie9 .open_close_results a {
	 background-position: right 3px;
}

.your_survey dt.open .open_close_results a {
	background: url('../img/arrow_down.png') right 11px no-repeat;
}

.ie.oldie .open_close_results a {
	line-height:21px;
}

.ie9 .your_survey dt.open .open_close_results a, .ie9 dt.open .open_close_results a {
	background-position:right 3px;
}

.open_close_results a:hover {
    text-decoration: underline;
}

.results_list dd {
    display: none;
    width:842px;
    padding-bottom:7px;
    margin: -4px auto 0;
    z-index:1;
    background: url('../img/result_text_bg_bottom.png') center bottom no-repeat;
}

.results_list dd.open {
    display: block;
}

.results_answer_container {
    background-color:#eeeeee;
    border-left:1px solid #d8d8d8;
    border-right:1px solid #d8d8d8;
    padding:10px 40px 25px;
}

.results_answer_container .answer {
	padding:25px 20px 0 0;
	float:left;
	max-width:440px;
}

.results_answer_container .button_medium {
	position:relative;
	top:12px;
	float:left;
}

.ie.oldie .results_answer_container .button_medium {
	padding-top:8px;
	height:33px;
}

.your_results .results_answer_container .button_medium {
	background: url('../img/next_button.png') left top no-repeat;
	width:109px;
	height:34px;
	padding:11px 0 0 60px;
	margin:0;
}

.ie.oldie .your_results .results_answer_container .button_medium {
	padding-top:10px;
	height:37px;
}

.ie9 .your_results .results_answer_container .button_medium {
	padding-top:15px;
	height:30px;
}

.your_survey .results_answer_container .button_medium {
	margin:0;
}

.results_answer_top {
	margin-bottom:30px;
}

.results_answer_container .right {
	float:right;
}

.results_answer_container h3 {
    font-size: 18px;
    margin: 0;
}

.results_answer_container p, .results_learn_more p {
    line-height: 24px;
}

.results_answer_container .divider {
	background: url('../img/divider.png') center top no-repeat;
	width:760px;
	height:1px;
	margin:30px 0;
}

.recommendations_top {
	background: url('../img/table_top.png') left top no-repeat;
	width:771px;
	height:10px;
}

.recommendations_bottom {
	background: url('../img/table_bottom.png') left bottom no-repeat;
	width:771px;
	height:10px;
}

.results_answer_container table.recommendations {
	width:771px;
	line-height:20px;
	background: url('../img/table_middle.png') left bottom repeat-y;
}

.results_answer_container table.recommendations th, .results_answer_container table.recommendations td {
	text-align:center;
}

.results_answer_container table.recommendations th {
	font-weight:bold;
	color:#E49E52;
}

.going_well .results_answer_container table.recommendations th {
	color:#e49e52;
}

.results_answer_container table.recommendations td.age {
	height:40px;
}

.results_answer_container table.recommendations td.left {
	text-align:left;
}

.results_answer_container table.recommendations td.text {
	padding:20px;
}

.results_answer_container .question {
    margin-top: 0;
}

.results_answer_container .button_medium {
	margin:20px 0 40px -2px;
}

.results_answer_container .learn_more_button, .results_end_buttons .end_button {
    background: #dfe2e4;
    background: -webkit-gradient(linear, left top, left bottom, from(#dfe2e4), to(#c4c8c9));
    background: -moz-linear-gradient(top, #dfe2e4, #c4c8c9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfe2e4', endColorstr='#c4c8c9');
    border: 1px #d0d4d6 solid;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    border-radius: 12px;
    float: right;
    position: relative;
    top: -10px;
    text-align: center;
}
.ie .results_answer_container .learn_more_button, .ie .results_end_buttons .end_button {
    border: 0;
}

.results_answer_container .learn_more_button a, .results_end_buttons .end_button a {
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
}

.results_learn_more {
    border-top: 1px #c4c7c7 solid;
    padding: 5px 15px 15px;
}

.results_learn_more.hidden {
    display: none;
}

.results_learn_more a {
    color: #0072bc;
}
.results_learn_more a:hover {
    color: #0090f0;
}

.results_container p.note {
	text-align:center;
	font-size:12px;
	margin-top:30px;
}

.results_end_buttons {
    margin: 50px auto 25px;
    width: 380px;
}

.results_end_buttons .button {
	background: no-repeat url('../img/goback_button_large.png');
	width:115px;
	height:36px;
	padding:11px 0 0 65px;
	float: left;
    margin-right: 5px;
    position: static;
}

.results_end_buttons .next_button {
	background: no-repeat url('../img/next_button_small.png');
	width:80px;
	height:36px;
	padding:11px 0 0 60px;
}

.ie.oldie .info_page .results_end_buttons .next_button, .ie.oldie .print_button {
	padding-top:9px;
	height:38px;
}

.ie9 .results_end_buttons .next_button {
	padding-top:16px;
	height:31px;
}

.your_results .results_end_buttons {
	width:265px;
}

.results_page .results_end_buttons a {
	font-size:16px;
}

.print_button, .results_end_buttons .print_button {
	background: no-repeat url('../img/button_print.png');
	width:90px;
	height:37px;
	padding:10px 0 0 30px;
	margin-right:10px;
}

.results_end_buttons .basic_button {
	background: no-repeat url('../img/button_basic.png');
	width:133px;
	height:37px;
	padding:10px 0 0;
	margin-right:0;
	text-align:center;
}

.results_end_buttons .end_button {
    float: left;
    margin-right: 5px;
    position: static;
}

.results_end_buttons .end_button a {
    padding: 8px 20px;
}

/* Print results */

.print .left_column {
    margin: 10px 20px 10px;
    width: 602px;
}

.results_content {
	background: repeat-y url('../img/print_bg_middle.png');
	width:498px;
	padding: 30px 45px 40px;
	line-height:24px;
}

.print_content_top {
	background: url('../img/print_bg_top.png') left top no-repeat;
	width:588px;
	height:14px;
}

.print_content_bottom {
	background: url('../img/print_bg_bottom.png') left top no-repeat;
	width:588px;
	height:10px;
}

.ie8 h2.results_header {
	margin-top:0;
}

.ie9 .results_content {
	padding-top:10px;
}

.print h2.results_header, .print h2.results_header .subtitle {
	font-size:25px;
	text-align:left;
}

.print .left_column p {
	margin:15px 0 0;
	width:410px;
	font-size:14px;
}
.print .results_content ol, .opinion ol {
	padding-left:21px;
	margin:35px 0 30px;
}
.print .results_content ol li, .opinion ol li {
	margin:0 0 30px;
}
.print .results_content ol li a, .opinion ol li a{
	font-weight:bold;
}
.print .results_content ol ol, .opinion ol ol {
	list-style-type: lower-alpha;
	margin:5px 0;
}
.print .results_content ol ol li span{
	padding-left:20px;
	font-weight:bold;
}
.print .results_content ol ul {
	list-style-type: disc;
	margin:0 0 0 -5px;
	padding:0;
}
.print .results_content ol ul li {
	margin:5px 0;
	padding-left:25px;
}
.print .results_content ol ul li a, .opinion ol ul li a {
	font-weight:normal;
}

.print ol a {
	color:#e49e52;
}

.print .left_column .basic_button {
	padding:9px 0 0;
	text-align:center;
	float:right;
	margin:0;
	width:115px;
	height:36px;
	background: no-repeat url('../img/button_basic_small.png');
}

.ie9 .print .left_column .back_button {
	padding-top:12px;
	height:33px;
}

.ie9 .print .left_column .basic_button {
	padding-top:14px;
	height:31px;
}

.print .next_back a {
	font-size:16px;
}

.print .right_column {
    margin: 50px 0 0;
    width: 300px;
    padding:0 0 30px 0;
    border:none;
    width:270px;
}

.print .right_column h3 {
	line-height:22px;
	margin-bottom:15px;
}

.print .right_column .button {
	margin:10px 0 0 -1px;
	font: 14px "Meta Offc",sans-serif;
}

.print .friend_button {
	background: no-repeat url('../img/button_245.png');
	width:225px;
	height:31px;
	padding:10px 0 0 20px;
}

.print .opinion_button {
	background: no-repeat url('../img/button_306.png');
	width:286px;
	height:31px;
	padding:10px 0 0 20px;
}

.print .adspace {
	margin-top:25px;
	margin-left:2px;
}

.ie8 .resources_content, .ie9 .resources_content {
	padding-top:30px;
	/*height:902px*/
}

.print .resources_content p {
	width:400px;
	margin-top:25px;
}

.resources_content .next_back {
	padding-top:30px;
}

.resources_content .print_button {
	float:right;
	margin:0;
}

.resources_page .resources_content {
	background: repeat-y url('../img/resources_wide_middle.png');
	width:581px;
	padding: 30px 80px 40px;
	line-height:24px;
	margin:0 auto;
}

.resources_content_top {
	background: url('../img/resources_wide_top.png') left top no-repeat;
	width:741px;
	height:14px;
	margin:0 auto;
}

.resources_content_bottom {
	background: url('../img/resources_wide_bottom.png') left top no-repeat;
	width:741px;
	height:10px;
	margin:0 auto;
}

.ie9 .resources_page .resources_content {
	padding-top:10px;
}

.resources_page h2.results_header, .resources_page h2.results_header .subtitle {
	font-size:25px;
	margin-bottom:30px;
}

.resources_page .resources_content p {
	margin:25px 0 0;
}

.resources_page .resources_content .resources_header {
	margin:45px 0 35px;
}

.resources_page .back_button {
	margin:25px auto;
	float:none;
}

.opinion .content {
	background: repeat-y url('../img/opinion_middle.png');
	width:465px;
	padding: 30px 65px 40px;
	line-height:21px;
	margin:0 auto;
}

.opinion .content_top {
	background: url('../img/opinion_top.png') left top no-repeat;
	width:595px;
	height:16px;
	margin:0 auto;
}

.opinion .content_bottom {
	background: url('../img/opinion_bottom.png') left top no-repeat;
	width:595px;
	height:10px;
	margin:0 auto;
}

.ie9 .opinion .content, .ie7 .opinion .content {
	padding-top:0px;
}

.ie8 .opinion .content {
	padding-top:20px;	
}

.opinion h2 {
	color:#e49e52;
	font: bold 30px "Meta Offc", sans-serif;
}

.ie8 .opinion h2 {
	margin-top:0;
}

.opinion ol {
	margin-bottom:40px;
}

.opinion ol ol {
	margin-left:15px;
}

.opinion ol ul {
	list-style:none;
	padding:0;
}

.opinion ol ul.last {
	margin-top:0;
}

.opinion ol ul li {
    margin: 5px 0;
    padding-left: 0px;
}

.opinion textarea{
	background: no-repeat url('../img/textarea_bg.png');
	width:388px;
	height:86px;
	padding:10px;
	border:none;
	margin:15px 0 0;
}

.opinion ol input {
	margin-right:10px;
}

.friend .content {
	background: repeat-y url('../img/friend_middle.png');
	width:442px;
	padding: 30px 40px 40px;
	line-height:18px;
	margin:0 auto;
}

.friend  .content_top {
	background: url('../img/friend_top.png') left top no-repeat;
	width:522px;
	height:14px;
	margin:0 auto;
}

.friend  .content_bottom {
	background: url('../img/friend_bottom.png') left top no-repeat;
	width:522px;
	height:10px;
	margin:0 auto;
}

.ie9 .friend .content {
	padding-top:10px;
}

.friend  h2.results_header, .friend h2.results_header .subtitle {
	font-size:30px;
	margin-bottom:35px;
	line-height:30px;
}

.friend .survey_questions .question {
	margin-bottom:15px;
}

.friend .survey_questions .question_text {
	width:140px;
	padding-right:15px;
	float:left;
	line-height:18px;
	text-align:right;
	padding-top:5px;
}

.friend .question input.text {
	margin:0;
	background: no-repeat url('../img/input_bg_282.png');
	width:252px;
	height:34px;
}

.friend .question textarea {
	border:none;
	padding:10px 15px;
}

.friend .question textarea.long {
	background: no-repeat url('../img/textarea_bg_440.png');
	width:252px;
	height:420px;
}

.friend .question textarea.short {
	background: no-repeat url('../img/textarea_bg_147.png');
	width:252px;
	height:127px;
}

.friend .next_button {
	background: no-repeat url('../img/button_send.png');
	width:79px;
	height:41px;
	padding:0 0 0 25px;
	float:right;
	margin-right:5px;
}

.friend .next_button input {
	margin-top:8px;
}

.ie .friend .next_button input {
	margin-top:0px;
}

.ie7 .friend .next_button input {
	margin-top:-2px;
}

.ie8 .friend .next_button input {
	margin-top:1px;
}

.ie9 .button, .ie9 .button_medium { 
	padding-top:15px;
	height:26px;
}








/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
 .container {
 	width:100%;
 }

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* custom styles */

.link {
    color: #e49e52 !important;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.help_box {
    font-size: 14px;
}

.question_subtext {
    font: italic 14px "Meta Offc", sans-serif;
}

.button_medium input{
    border:none;
    font: 14px "Meta Offc", sans-serif;
    background:none;
}

.info_page .back_button input{
    border:none;
    text-shadow: 1px 1px #ffffff;
    font: 15px "Meta Offc", sans-serif;
    background:none;
}

.page2 .next_back {
    width: 522px;
}

.page2 .form .next_back {
    width: auto;
}

.page2 .submit_button, .opinion .submit_button {
    background: no-repeat url('../img/button_basic.png');
    width:133px;
    height:34px;
    padding:9px 0 0;
    margin-left:10px;
    text-align:center;
    float:left;
}

.page2 .next_button_small, .opinion .next_button_small {
	background: no-repeat url('../img/next_button_small.png');
	width:87px;
	height:37px;
	padding:9px 0 0 53px;
	float:right;
}

.ie.ie8 .page2 .next_button_small, .ie.ie8 .opinion .next_button_small {
	padding-top:8px;
	height:38px;
}

.info_page .next_button_small input{
	border:none;
	text-shadow: 1px 1px #ffffff;
	font: 15px "Meta Offc", sans-serif;
	background:none;
}

.info_page .submit_button input{
    border:none;
    text-shadow: 1px 1px #ffffff;
    font: 15px "Meta Offc", sans-serif;
    background:none;
}

.resources_content p span a {
    color:#e49e52;
    font-weight:bold;
}

.tell_us a {
    color:#41a088;
    font-weight:bold;
}

.print .adspace {
	font-size:0px;
}

.basic_button {
    background: no-repeat url('../img/button_basic.png');
    width:133px;
    height:37px;
    padding:10px 0 0;
    margin-right:0;
    text-align:center;
}

.admin .content_top {
    background: url('../img/friend_top.png') left top no-repeat;
    width: 522px;
    height: 14px;
    margin: 0 auto;
}

.admin .content, .admin .reports_content {
    background: repeat url('../img/friend_middle.png');
    width: 442px;
    padding: 30px 40px 40px;
    line-height: 18px;
    margin: 0 auto;
}

.admin .content_bottom {
    background: url('../img/friend_bottom.png') left top no-repeat;
    width: 522px;
    height: 10px;
    margin: 0 auto;
}

.admin .content_wide_top {
    background: url('../img/form_wide_top.png') left top no-repeat;
    width: 867px;
    height: 14px;
    margin: 0 auto;
}

.admin .content_wide {
    background: url('../img/form_wide_middle.png') left top repeat-y;
    padding: 30px 50px;
    width: 767px;
    margin: 0 auto;
}

.admin .survey_wide_bottom {
    background: url('../img/form_wide_bottom.png') left top no-repeat;
    width: 867px;
    height: 10px;
    margin: 0 auto 30px;
}

.admin h2.results_header, .admin h2.results_header .subtitle {
    font-size: 30px;
    margin-bottom: 35px;
    line-height: 30px;
}

.admin .survey_questions .question {
    margin-bottom: 15px;
}

.admin .survey_questions .question_text {
    width: 140px;
    padding-right: 15px;
    float: left;
    line-height: 18px;
    text-align: right;
    padding-top: 5px;
}

.admin_page .survey_questions .question_text {
    font: bold 14px "Meta Offc", sans-serif;
}

.admin .question input.text {
    margin: 0;
    background: no-repeat url('../img/input_bg_282.png');
    width: 252px;
    height: 34px;
}

.admin .next_back {
    margin-top: 10px;
}

.admin .next_button {
    background: no-repeat url('../img/button_send.png');
    width: 79px;
    height: 41px;
    padding: 0 0 0 25px;
    float: right;
    margin-right: 5px;
}

.admin .next_button input {
    margin-top: 8px;
}

.admin_page .next_button input {
    border: none;
    text-shadow: 1px 1px #ffffff;
    font: 15px "Meta Offc", sans-serif;
    background: none;
}

.admin .basic_button {
    background: no-repeat url('../img/button_basic.png');
    width:133px;
    height:37px;
    padding:10px 0 0;
    margin-right:0;
    text-align:center;
}

.admin_page .basic_button input {
    border: none;
    text-shadow: 1px 1px #ffffff;
    font: 15px "Meta Offc", sans-serif;
    background: none;
    margin-top: 0;
}

.admin_page .basic_button a {
    text-shadow: 1px 1px #ffffff;
    font: 15px "Meta Offc", sans-serif;
    margin-top: 0;
}

.admin .forgot_button {
    background: no-repeat url('../img/button_basic_long.png');
    padding:9px 0 0;
    text-align:center;
    float:right;
    margin:0;
    width:180px;
    height:36px;
}

.admin_page .forgot_button input {
    border: none;
    text-shadow: 1px 1px #ffffff;
    font: 15px "Meta Offc", sans-serif;
    background: none;
    margin-top: 0;
}

.admin_page .forgot_button a {
    text-shadow: 1px 1px #ffffff;
    font: 15px "Meta Offc", sans-serif;
    margin-top: 0;
}

.admin .reports_content p span a {
    color: #e49e52;
    font-weight: bold;
}

.admin .content_wide .button, .admin .reports_content .button {
    background: no-repeat url('../img/button_send.png');
    width: 79px;
    height: 41px;
    padding: 10px 0 0 25px;
    margin-right: 5px;
    font: 15px "Meta Offc", sans-serif;
}

.admin .reports_content .back_button {
    background: no-repeat url('../img/button_reverse_send.png');
    width: 79px;
    height: 41px;
    padding: 10px 0 0 35px;
    margin-right: 5px;
    font: 15px "Meta Offc", sans-serif;
}

.admin .reports_content .back_button_long {
    background: no-repeat url('../img/button_reverse_send_long2.png');
    width: 136px;
    height: 41px;
    padding: 10px 0 0 35px;
    margin-right: 5px;
    font: 15px "Meta Offc", sans-serif;
}

.admin .content_wide .back_button {
    background: no-repeat url('../img/button_reverse_send_long.png');
    width: 105px;
    height: 41px;
    padding: 10px 0 0 35px;
    margin-right: 5px;
    font: 15px "Meta Offc", sans-serif;
}

.admin .content_wide .back_button_long {
    background: no-repeat url('../img/button_reverse_send_long2.png');
    width: 136px;
    height: 41px;
    padding: 10px 0 0 35px;
    margin-right: 5px;
    font: 15px "Meta Offc", sans-serif;
}

.resources_page a, .admin a {
    color: #e49e52;
}

.admin .next_back a {
    color: #000000;
}

.admin .content_wide table.recommendations {
    width: 771px;
    line-height: 20px;
    background: url('../img/table_middle.png') left bottom repeat-y;
}

.admin .content_wide table.recommendations th, .admin .content_wide table.recommendations td {
	text-align:center;
}

.admin .content_wide table.recommendations th {
	font-weight:bold;
	color:#9e8d74;
}

.going_well .admin .content_wide table.recommendations th {
	color:#41a088;
}

.admin .content_wide table.recommendations td.age {
	height:40px;
}

.admin .content_wide table.recommendations td.left {
	text-align:left;
}

.admin .content_wide table.recommendations td.text {
	padding:20px;
}

.results_page .results_container .results_answer_container .right img {
    width: 121px;
}

.results_answer_container .results_answer_top .right img {
    width: 121px;
}

table.recommendations ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

table.recommendations img.column_divider {
    height: 100%;
    width: 1px;
}