@charset "UTF-8";
@media (max-width: 899px) {
  html {
    transform: scale(0.85);
    transform-origin: top left; }

  body {
    width: 117.64706%; } }
@media (max-width: 749px) {
  html {
    transform: none; }

  body {
    width: auto; } }
@media (max-width: 749px) {
  .container {
    transform: scale(1.25);
    transform-origin: top center;
    width: 320px; } }
@media (max-width: 524px) {
  .container {
    transform: none; } }
@media (max-width: 359px) {
  .container {
    width: 288px; } }

@font-face {
  font-family: 'Meta Offc';
  src: url("../escreen/fonts/MetaOffc-Black.eot");
  src: url("../escreen/fonts/MetaOffc-Black.eot?#iefix") format("embedded-opentype"), url("../escreen/fonts/MetaOffc-Black.woff") format("woff"), url("../escreen/fonts/MetaOffc-Black.ttf") format("truetype"), url("../escreen/fonts/MetaOffc-Black.svg#MetaOffc-Black") format("svg");
  font-weight: bold;
  font-style: normal; }
.main .intro {
  font-weight: normal; }
.main .welcome .welcome_text {
  font-weight: normal; }
.main .start_button a {
  font-weight: normal; }
.main .columns h3 {
  font-weight: normal; }
.main.results_page .results_good a,
.main.results_page .results_bad a {
  font-weight: normal; }

.audio_help a {
  font-weight: normal; }

@media (max-width: 749px) {
  body {
    background-size: 150%;
    background-position: 40% 0;
    background-attachment: fixed; }

  .container {
    margin: 17px auto 26px; }

  .header_title img {
    margin-top: 11px;
    max-width: 100%;
    width: 160px; }

  .header_contact {
    font-family: "Meta Offc", sans-serif;
    letter-spacing: -0.5px;
    margin-top: 0;
    text-align: left;
    width: 132px; }
    .header_contact .contact_text {
      font-size: 12px;
      line-height: 14px; }
    .header_contact .phone_num {
      font-size: 16px;
      letter-spacing: 0; }

  .main h2 {
    line-height: 1.2; }
  .main.index h2 {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1; }
  .main.index p, .main.index ul {
    font-family: "Meta Offc", sans-serif;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -.5px; }
  .main.index .intro {
    font-size: 22px;
    margin: 24px 0 !important; }
  .main .welcome .welcome_text {
    font-size: 20px; }
  .main .start_button {
    width: auto; }
    .main .start_button a {
      padding: 12px 0; }
  .main ul,
  .main .benefits ul {
    padding-left: 22px; }
  .main .survey_steps ul {
    padding-left: 0; }
  .main .columns {
    float: none;
    margin: 0;
    width: auto; }
    .main .columns h3 {
      box-sizing: border-box;
      height: 51px;
      padding: 12px 0 0 55px;
      position: relative;
      width: auto; }
      .main .columns h3:after {
        background: right center no-repeat;
        bottom: 0;
        content: "";
        left: 200px;
        position: absolute;
        right: 0;
        top: 0; }
  .main .welcome h3:after {
    background-image: url("../escreen/img/welcome.png"); }
  .main .benefits h3:after {
    background-image: url("../escreen/img/your_benefits.png"); }
  .main .survey_steps h3:after {
    background-image: url("../escreen/img/survey_steps.png"); }
  .main ul.progress_steps {
    float: none;
    height: auto;
    overflow: hidden;
    padding: 8px 0 0; }
    .main ul.progress_steps li {
      box-sizing: border-box;
      float: left;
      font-size: 12px;
      height: auto;
      line-height: 1;
      padding: 0 5px 0 0;
      position: static;
      width: 25%; }
      .main ul.progress_steps li + li {
        padding-left: 2px; }
      .main ul.progress_steps li strong {
        display: block;
        line-height: 17px; }
  .main.results_page .results_good,
  .main.results_page .results_bad {
    background-size: 100%;
    float: none;
    margin: 12px 0; }
    .main.results_page .results_good a,
    .main.results_page .results_bad a {
      padding-bottom: 3px;
      padding-top: 7px;
      width: auto !important; }

  .progress_bar {
    transform: scaleX(0.4);
    transform-origin: left; }

  .progress_container {
    height: auto;
    padding-bottom: 11px; }

  .main.index,
  .main > .content {
    position: relative; }

  .audio_help,
  #mediaspace {
    float: none;
    position: absolute !important;
    top: 110px; }
    .content .audio_help, .content
    #mediaspace {
      top: 76px; }
    .audio_help:not([style*="display: none"]) + h2, .audio_help:not([style*="display: none"]) + .audio_help + h2,
    #mediaspace:not([style*="display: none"]) + h2,
    #mediaspace:not([style*="display: none"]) + .audio_help + h2 {
      margin-bottom: 70px; }
      .content .audio_help:not([style*="display: none"]) + h2, .content .audio_help:not([style*="display: none"]) + .audio_help + h2, .content
      #mediaspace:not([style*="display: none"]) + h2, .content
      #mediaspace:not([style*="display: none"]) + .audio_help + h2 {
        margin-bottom: 50px; }
      .main.results_page .audio_help:not([style*="display: none"]) + h2, .main.resources_page .audio_help:not([style*="display: none"]) + h2, .main.results_page .audio_help:not([style*="display: none"]) + .audio_help + h2, .main.resources_page .audio_help:not([style*="display: none"]) + .audio_help + h2, .main.results_page
      #mediaspace:not([style*="display: none"]) + h2, .main.resources_page
      #mediaspace:not([style*="display: none"]) + h2, .main.results_page
      #mediaspace:not([style*="display: none"]) + .audio_help + h2, .main.resources_page
      #mediaspace:not([style*="display: none"]) + .audio_help + h2 {
        margin-bottom: 70px; }

  #mediaspace {
    margin-top: 10px; }

  .footer_links br {
    display: none; }
    .footer_links br + a {
      margin-left: 1.5em;
      position: relative; }
      .footer_links br + a:before {
        color: #252525;
        content: " |   ";
        position: absolute;
        right: 100%; }

  .footer {
    font-family: Arial, sans-serif;
    line-height: 13.5px; }
    .footer .copyright {
      margin-top: 11px; }

  .footer_left {
    float: none; }

  .footer_logos {
    display: flex;
    justify-content: space-between;
    float: none;
    margin-top: 27px; }
    .footer_logos img {
      margin: 0; }

  .info_page .survey_questions .question {
    padding-left: 0; }

  .survey_questions {
    padding-top: 20px; }
    .survey_questions .get_help {
      display: block;
      margin: 10px 0 -10px;
      width: 70px; }
    .survey_questions ul.answer_list {
      padding: 4px 0 0 8px; }
      .survey_questions ul.answer_list li {
        margin: 4px 0; }
        .survey_questions ul.answer_list li label {
          margin-left: 10px; }
    .survey_questions ol {
      padding-left: 30px; }

  .helpText {
    width: 320px; }

  .info_page .next_back,
  .survey_page .next_back,
  .resources_page .next_back {
    padding: 19px 0 29px; }

  .survey_page .next_back .question_number {
    padding: 0; }

  .results_container table, .results_container tbody, .results_container tr, .results_container td {
    display: block; }

  .results_item {
    width: auto; }

  .open_close_results {
    float: none;
    margin-top: 4px;
    text-align: left; }

  .results_answer_container, .results_answer_container p, .results_answer_container ul {
    line-height: 25px; }
  .results_answer_container h3 {
    font-size: 20px; }
  .results_answer_container li {
    margin-bottom: 12px; }

  .resources_page .ero_ad {
    border: none;
    bottom: 150px;
    float: none;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    right: 0; }
    .resources_page .ero_ad + .resources_tips {
      padding-bottom: 650px; }

  .resources_tips, .resources_tips p, .resources_tips ul {
    line-height: 1.4 !important;
    font-size: 20px !important; }
  .resources_tips > table {
    width: auto; }
  .resources_tips h1 {
    line-height: 1.2; }

  .content > center > h2 {
    margin-top: 15px; }

  .helpText, .helpText ul {
    font-size: 14px !important;
    line-height: 18px !important; }

  .container > table,
  .container > table tbody,
  .container > table tr,
  .container > table td {
    display: block;
    width: auto; }
  .container > table td:first-child {
    margin: 8px 0 4px;
    text-align: left; }
  .container > table input, .container > table textarea {
    box-sizing: border-box;
    width: 100%; }
  .container > table input[type="submit"] {
    display: block;
    margin: 5px auto 15px;
    width: auto; } }
@media (max-width: 359px) {
  .TelerikModalOverlay {
    height: 110% !important;
    width: 112% !important;
    left: -6% !important;
    top: -5% !important; }

  .helpText {
    width: 306px; } }

/*# sourceMappingURL=responsive-escreen.css.map */
